@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', verdana;
    background-color: #161638;
    overflow-x: hidden;
    color: #fff;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
#naam{
    text-shadow: #ffffff5d 0px 0px 40px;
    font-size: 60px;
    background: linear-gradient(90deg,#00796B,#ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#fname{
    font-size: 40px;
    background: linear-gradient(90deg,#00796B,#ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive !important;
    font-weight: 400;
    font-style: normal;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.nav-link {
    font-weight: 500;
    margin-left: 15px;
    transition: color 0.3s, transform 0.2s;
}

.nav-link:hover {
    color: #00bfa5 !important;
    transform: scale(1.05);
}

.navbar-dark .navbar-toggler {
    border: none;
}

.hero {
    height: 100vh;
    background: url('img/hallway-2228277_1920.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
#container{
    background-color: #ffffff2f;
    padding: 25px;
    border-radius: 14px;
}
#skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.hero-content {
    position: relative;
    z-index: 1;
}

.portfolio img {
    border-radius: 12px;
    transition: 0.3s;
}

.portfolio img:hover {
    transform: scale(1.05);
}
#farm{
    color: white;
    background-color: #ffffff05;
}
input placeholder{
    color: white;
}
.form-control{
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}
.btn-custom {
    background: #009688;
    color: white;
    border-radius: 25px;
    padding: 10px 25px;
}

.btn-custom:hover {
    background: #00796B;
}

.footer-link {
  text-decoration: none;
  color: #ccc;
  display: block;
  margin-bottom: 6px;
  transition: color 0.3s;
}
.footer-link:hover {
  color: #00bfa5;
}

.social-icons a {
  color: #ccc;
  margin-right: 15px;
  font-size: 1.3rem;
  transition: color 0.3s, transform 0.2s;
}
.social-icons a:hover {
  color: #00bfa5;
  transform: scale(1.1);
}

/* Mobile Adjustments */
@media (max-width: 767px) {
    #skill{
        flex-direction: column;
    }
  footer {
    text-align: center;
  }
  .social-icons a {
    margin-right: 10px;
  }
}
